.container
  .row.justify-content-center
    .col-7
      %p.lead
        %span{style: "padding: 0px 10px;"} &nbsp
        Для работы необходимо #{ link_to 'зарегистрироваться', new_user_registration_path } и сообщить об этом администратору или #{ link_to 'авторизоваться', new_user_session_path} под своим аккаунтом.
