%p.text-justify
  = payment.client_description
.panel.panel-default
  .panel-heading.panel-title
    %h4.text-center Использованные материалы:
  .panel-body.text-justify
    - payment.material_payments.each do |mp|
      - if mp.material != nil
        #{mp.material.material_name} (цена - #{mp.material.material_price} грн.) - использовано:
        %span{class: 'materials_quantity'} #{mp.quantity}
        %br

  .panel-footer.text-justify
    %h4 Получено за материалы: