#title_payment
  %h2 Список платежей

#add_payment
  %a.btn.btn-default.btn-sm.btn-group-justified{:href => '#'}
    Добавить платеж
#cancel_payment
  %a.btn.btn-default.btn-sm.btn-group-justified{:href => '#'}
    Отменить редактирование
%br

#payment
  = render ('payments/form')

#payments
  = render @payment