.container
  %button.btn.btn-sm.btn-info{"data-target" => "#modalPayment", "data-toggle" => "modal", :type => "button"}
    Новый платеж

#payment
  = render ('payments/form')
%br
#title_payment
  %h4 Платежи за #{(Date.today).strftime('%d.%m.%Y')}:
#payments
  = render @payment