%table.table.table-sm.table-hover
  %thead.table-info
    %tr
      %th.text-center Название материала
      %th.text-center Стоимость материала
      %th

  %tbody
    - @materials.each do |material|
      %tr
        %td.text-center= material.material_name
        %td.text-center= material.material_price
        %td.text-center
          = link_to material, class: 'show_material' do
            %span.fa.fa-info{"aria-hidden" => "true"} &nbsp
          = link_to material, :method => :delete,
                              :data => { :confirm => 'Точно?.. Уверен?..' } do
            %span.fa.fa-close{"aria-hidden" => "true"}