%h4 Редактировать материал

.container
  %button.btn.btn-sm{"data-target" => "#modalMaterial", "data-toggle" => "modal", :type => "button"}
    Редактировать материал

= render 'form'

= link_to 'Показать материал', @material
\|
= link_to 'Назад', materials_path
