= provide(:title, 'Материалы')

.container
  %button.btn.btn-sm{"data-target" => "#modalMaterial", "data-toggle" => "modal", :type => "button"}
    Новый материал

#material
  = render ('materials/form')
%br
#title_material
  %h4 Список материалов:
#materials
  = render @material
