#add_material
  %a.btn.btn-info.btn-sm.btn-block{:href => '#'}
    Добавить материалы
#cancel_material
  %a.btn.btn-sm.btn-outline-info.btn-block{:href => '#'}
    Свернуть форму
%br

#material
  = render ('materials/form')
%br
#title_material
  %h4 Список материалов:
#materials
  = render @material
