= render 'materials/form'

.col-sm-6
  .card
    .card-header
      %b Материал:
    .card-block
      %b #{@material.material_name}
      по цене
      %b #{@material.material_price}
      грн.
    .card-footer
      .container
        %button.btn.btn-link{"data-target" => "#modalMaterial", "data-toggle" => "modal", :type => "button"}
          Редактировать
        = link_to 'К списку', materials_path