.form-group
  = form_tag(:payments, method: "get") do
    .col-sm-4
      #datetimepicker1.input-group.date
        %input.form-control{:type => "text", :name => "start_day", :id => "start_day", :title => "Дата начала периода"}/
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
    .col-sm-4
      #datetimepicker2.input-group.date
        %input.form-control{:type => "text", :name => "end_day", :id => "end_day", :title => "Дата конца периода"}/
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
    .col-sm-4
      %input.btn.btn-default{:type => "submit", :value => "Отправим запросец?"}/