%ul.nav.flex-sm-column#side_navigation
  - if user_signed_in?
    %li.nav-item
      .nav-link
        = link_to payments_path, class: 'btn btn-sm' do
          %span.fa.fa-money
          &nbsp
          +
          &nbsp
          Платежи
    %li.nav-item
      .nav-link
        = link_to expences_path, class: 'btn btn-sm' do
          %span.fa.fa-money
          &nbsp
          &#8211
          &nbsp
          Расходы
    %li.nav-item
      .nav-link
        = link_to materials_path, class: 'btn btn-sm' do
          %span.fa.fa-cogs
          &nbsp
          Материалы
    %li.nav-item
      .nav-link
        = link_to reports_path, class: 'btn btn-sm' do
          %span.fa.fa-calendar
          &nbsp
          Отчеты
    %li.nav-item
      .nav-link
        =link_to articles_path, class: 'btn btn-sm' do
          %span.fa.fa-newspaper-o
          &nbsp
          Статьи