%ul.nav.nav-pills.flex-sm-column
  %li.nav-item
    %a.nav-link{:href => payments_path} Платежи
  %li.nav-item
    %a.nav-link{:href => materials_path} Материалы
  %li.nav-item
    %a.nav-link{:href => reports_path} Отчеты