.row
  .well.sidebar-nav
    /%h3 Sidebar
    %ul.nav.nav-list{:align => 'left'}
      /%li.nav-header Sidebar
      %li= link_to "Платежи", payments_path
      %li= link_to "Материалы", materials_path