%nav.navbar.navbar-toggleable-md.bg-faded.sticky-top
  %a.navbar-brand{:href => "/"}
    Помошник оператора
  %ul.nav.navbar-nav
    - if user_signed_in?
      %li.nav-item
        %a.nav-link{:href => user_path(current_user)}
          = current_user.email
      %li.nav-item
        %a.nav-link{:href => destroy_user_session_path}
          Выйти
    - else
      %li.nav-item
        %a.nav-link{:href => new_user_session_path}
          Вход
      %li.nav-item
        %a.nav-link{:href => new_user_registration_path}
          Регистрация