%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarToggler",
                                              "aria-expanded" => "false",
                                              "aria-label" => "Toggle navigation",
                                              "data-target" => "#navbarToggler",
                                              "data-toggle" => "collapse",
                                              :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => "/"}
    WildPark
    %sub
      оператор
  #navbarToggler.collapse.navbar-collapse
    %ul.nav.navbar-nav.pull-sm-right.mr-auto.mt-2.mt-md-0
      - if user_signed_in?
        %li.nav-item
          %a.nav-link{:href => user_path(current_user)}
            = current_user.email
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{:href => destroy_user_session_path}
            Выйти
      - else
        %li.nav-item
          %a.nav-link{:href => new_user_session_path}
            Вход
        %li.nav-item
          %a.nav-link{:href => new_user_registration_path}
            Регистрация